.uni-search {
    background: var(--color-theme-backgroung--default);
    border-radius: var(--border-radius-tablet);
    border: var(--border--transparent);
    padding: 2px;
    position: relative;
}

.uni-search:focus-within {
    background-color: var(--color-theme-monochrom--white);
    border: var(--border--focus-within);
}

.uni-search:hover {
    background-color: var(--color-theme-monochrom--white);
    border: var(--border--focus-within) !important;
}

.uni-search:not(:focus-within) {
    border: var(--border--transparent);
}

.uni-search-warn {
    border: 1px solid orangered !important;
}

.uni-search-allow {
    border: 1px solid lightgreen !important;
}

.uni-search-ico {
    width: 18px;
    height: 18px;
    background-image: url("../../img/ico-search.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.uni-search-input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    margin: 0 8px;
    background-color: transparent;
}

@media (max-width: 767.98px) {
    .uni-search {
        display: none;
    }
}
