.task {
    /*width: calc((100% / 3) - ( var(--medium-gap)));*/
    width: 100%;
    min-width: 30%;
    border-radius: var(--border-radius);
    padding: 24px;
    background: var(--color-bg-color);
    box-shadow: 0 4px 6px 3px var(--color-shadow);
    transition: 0.3s;
    cursor: pointer;
}

.task--id {
    font-weight: 600;
    font-size: 18px;
}

.task--tasks-list span {
    flex: 1;
}

.task--comments > li {
    margin-bottom: 6px;
}

.manager-label {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.text-label--name {
    font-weight: 600;
}
