.select-cnt {
    position: relative;
    justify-content: space-between;
    background-color: var(--color-theme-backgroung--default);
    border-radius: var(--border-radius-tablet);
    height: 48px;
    padding: 2px 8px 2px 2px;
    border: 1px solid transparent;
}

.select-cnt:focus-within,
.select-cnt:hover {
    background-color: white;
    border: 1px solid var(--color-theme-primary--default);
}

.select-cnt:focus-within > .auto-search--btn-add {
    color: var(--color-theme-primary--default);
}

.select--input {
    width: 100%;
    margin-left: 8px;
    background-color: transparent;
}