.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.section {
    padding: var(--big-gap) 0;
}

.row-left {
    display: flex;
}

.row-center {
    display: flex;
    justify-content: center;
}

.row-right {
    display: flex;
    justify-content: right;
}

.space-between {
    justify-content: space-between;
}

.row-vertical-center {
    display: flex;
    align-items: center;
}

.col-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.col-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.fill-parent {
    width: 100%;
    height: 100%;
}

.theme-card {
    padding: 12px;
    background-color: var(--color-theme-monochrom--white);
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    box-shadow: var(--shadow);
    transition: var(--transition-time);
}

.item-tag {
    background: var(--gradient-theme--light-light);
    padding: var(--tag-padding);
    color: var(--color-theme-secondary--dark);
    cursor: default;
    border-radius: 999px;
    text-align: center;
    width: fit-content;
    transition: var(--transition-time);
}

.item-tag:hover {
    transform: scale(1.01);
    /*background: var(--gradient-theme--light);*/
    /*color: var(--color-theme-monochrom--white)*/
}

.flex-1 {
    flex: 1 !important;
}

.flex-2 {
    flex: 2 !important;
}

.flex-3 {
    flex: 3 !important;
}

.flex-4 {
    flex: 4 !important;
}

.gap-8 {
    gap: 8px;
}

.gap-12 {
    gap: 12px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}


.padding-8 {
    padding: 8px;
}

.padding-12 {
    padding: 12px;
}

.padding-16 {
    padding: 16px;
}

.padding-24 {
    padding: 24px;
}

.center {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}