:root {
    --color-shadow: rgba(45, 83, 219, 0.1);
    --border-radius: 18px;
    --border-radius-tablet: 999px;
    --small-gap: 12px;
    --medium-gap: 24px;
    --big-gap: 48px;

    --border--transparent: 1px solid transparent;
    --border--warn: 1px solid orangered !important;
    --border--allow: 1px solid lightgreen !important;
    --border--focus-within: 1px solid var(--color-theme-primary--default);

    --btn-padding: 3px 32px 3px 8px;
    --input-padding: 8px 16px;
    --tag-padding: 4px 8px;

    --shadow: 0 4px 6px 3px var(--color-shadow);

    --transition-time: 300ms;
}