:root {
    --color-bg-color: #fff;
    --color-shadow: rgba(45, 83, 219, 0.1);
    --border-radius: 18px;

    --btn-padding: 3px 32px 3px 8px;
    --color-bg-gray: #EFEFEF;
    --color-text-gray: #B1B1B1;
    --color-text-hover: #000;

    --gradient-purple: linear-gradient(60deg, #7A1DC4 25%, #FF579E 140%);
}