.popup-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10010;
    backdrop-filter: blur(5px);
    overflow-y: scroll;
}

.popup-box {
    position: relative;
    width: 75%;
    margin-top: -5vh;
    height: auto;
    max-height: 90vh;
    border: 1px solid transparent !important;
}

.popup-box:hover {
    border: 1px solid transparent !important;
}

.popup-close-icon {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    z-index: 1000;
    position: absolute;
    right: -28px;
    top: -12px;
    background: var(--color-theme-backgroung--light-light);
    border-radius: 999px;
    border: 1px solid var(--color-text--light);
}

.popup-close-icon:hover {
    transform: scale(1.1);
    border: 1px solid var(--color-theme-primary--default);
}