.page-not-found-cnt {
    padding-top: 100px;
}

.page-not-found-404 {
    font-size: 250px;
    font-weight: bolder;
    background-image: var(--gradient-theme--default);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: initial;
    -moz-text-fill-color: transparent;
}

.page-not-found-notfound {
    color: var(--color-theme-monochrom--white);
    font-size: 16px;
    font-weight: bolder;
    margin-top: -90px;
    margin-bottom: 60px;
}