.search {
    background: var(--color-theme-backgroung--default);
    border-radius: var(--border-radius-tablet);
    border: var(--border--transparent);
    padding: 8px 16px;
}

.search:focus-within {
    border: var(--border--focus-within);
}

.search:not(:focus-within) {
    border: var(--border--transparent);
}

.search-warn {
    border: 1px solid orangered !important;
    /*border: var(--border--warn);*/
}

.search-allow {
    border: 1px solid lightgreen !important;
    /*border: var(--border--allow);*/
}

.search-ico {
    width: 18px;
    height: 18px;
    background-image: url("../../img/ico-search.svg");
    background-position: center;
    background-repeat: no-repeat;
    /*margin-right: 8px;*/
}

.search-input {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
}

/* `md` applies to medium devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .search {
        display: none;
    }
}
