.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-bg-gray);
    padding: 8px 16px;
    border-radius: 999px;
    width: 600px;
    border: 1px solid transparent;
}

.search:focus-within {
    border: 1px solid var(--color-purple);
}

.search:not(:focus-within) {
    border: 1px solid transparent;
}

.search-warn {
    border: 1px solid orangered !important;
}

.search-allow {
    border: 1px solid lightgreen !important;
}

.search-ico {
    width: 18px;
    height: 18px;
    background-image: url("../../img/ico-search.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 8px;
}

.search-input {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
}