.selected_item {
    height: 100%;
    padding: 4px 12px;
    background-color: var(--color-text--light);
    display: flex;
    border-radius: 999px;
    justify-content: space-between;
    align-items: center;
    gap: var(--small-gap);
    border: 1px solid transparent;
}

.selected_item:hover,
.selected_item:focus {
    /*border: 1px solid var(--color-theme-primary--default);*/
    /*background-color: #fff;*/
    background-image: var(--gradient-theme--light-light);
    color: var(--color-theme-primary--dark);
}

.selected_item-button {
    background-color: transparent;
    outline: 0;
    border: 0;
    font-size: 18px;
    transition: var(--transition-time);
    transform: rotateZ(45deg);
    cursor: pointer;
}

.selected_item-button:hover,
.selected_item-button:focus {
    transform: scale(1.5) rotateZ(135deg);
    color: var(--color-theme-primary--default);
}

