.google-btn {
    display: inline-block;
    text-align: center;
    background: var(--color-theme-backgroung--light-light);
    color: var(--color-text--light);
    /*width: fit-content;*/
    border-radius: 5px;
    border: thin solid var(--color-text--light);
    /*box-shadow: 1px 1px 1px var(--color-text-gray);*/
    padding: 0 24px;
    width: 100%;
    white-space: nowrap;
    cursor: pointer;
}

.google-btn:hover {
    background: #f6f6f6;
}

.google-btn-icon {
    background: transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

.google-btn-text {
    display: inline-block;
    vertical-align: middle;

    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}