.input_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 48px;
    gap: var(--medium-gap);
    border-radius: 999px;
    background-color: var(--color-bg-gray);
    padding: 0 24px 0 0 ;
}